h1{
    font-family:sans-serif;
    size: 65px;
    color: orangered;
}
p{
  font-weight: 600px;
  font-size: 3em;  
}
body{
  font-size:16px;
  font-style:oblique;
  line-heigh: 30px;
  text-align:left;
}
#amarelo{
  background-color: yellow;
}
#vermelho{
  background-color: red;
}
#marrom{
  background-color: brown;
}